body {
  margin: 0;
  padding: 0;
}

/* Landing Page as we enter to website design */
.landing_page {
  background: url(./images/login-background.jpg) no-repeat center center/cover;
  margin: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.landing_header {
  background-color: black;
  height: 3.6rem;
  color: rgb(100, 99, 99);
  display: flex;
  justify-content: space-between;
}

.landing_header p {
  border: 1px solid rgb(107, 104, 104);
  margin-right: 1rem;
  border-radius: 5px;
  padding: 2px 7px;
}

.landing_header img {
  width: 5rem;
  height: auto;
  margin-top: 5px;
  margin-left: 5px;
}

.landing_middle {
  position: absolute;
  top: 40%;
  padding-left: 25%;
  box-sizing: border-box;
  display: grid;
  width: 100vw;
  color: white;
}

.landing_middle img {
  height: auto;
  width: 20vw;
  margin-left: 20%;
}

.landing_middle p {
  width: 50vw;
}

.landing_page button {
  width: 50vw;
  height: 7vh;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  background-color: blue;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.landing_page button a {
  color: rgb(248, 244, 244);
}

@media only screen and (max-width: 400px) {
  .landing_page button {
    height: 4vh;
    font-size: 1rem;
  }
  .landing_middle p {
    display: none;
  }
}

/* Home_Page */
/* sidebar in Home page design */
.sidebar {
  width: 8%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 1rem;
  margin-left: 1rem;
  position: fixed;
  top: 0;
}

.sidebar h1 {
  margin: 0;
  margin-left: 4%;
  color: white;
  padding: 0;
  padding-top: 0;
  width: 100vw;
  box-sizing: border-box;
}

.im_logo {
  width: 100%;
  color: aliceblue;
  margin-bottom: 27vh;
}

.menu {
  height: 7%;
  margin-bottom: 20px;
}

.menu img {
  height: 2rem;
  width: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 12px !important;
    line-height: 80%;
    margin-top: 10px;
  }
  h2 {
    font-size: 12px !important;
    line-height: 80%;
    margin-top: 10px;
  }
  .menu {
    display: none;
  }
}

/* Home_page_design */
.home {
  height: 100%;
  width: 100%;
  background: url(./images/home-background.png) no-repeat center center/cover;
  margin: 0;
  position: relative;
}

/* Movie_Card Css */
.favourite_movie_card,
.movie_card {
  margin-left: 12%;
}

.favourite_movie_card img,
.movie_card img {
  height: 15rem;
  width: 20vw;
  border-radius: 5px;
  margin: 10px;
}
.movie_card img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}
.favourite_movie_card img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}
.favourite_movie_card {
  display: flex;
  overflow-x: auto;

  height: 100%;
}
.favourite_movie_card::-webkit-scrollbar {
  display: none;
}

/* Footer Css */
.footer {
  display: flex;
  color: white;
  justify-content: space-between;
  margin-left: 12%;
  margin-right: 2%;
}

.footer p {
  color: rgb(131, 128, 128);
}

/* Static_Page After clicking on Tv button or at any Movie card */
.static {
  margin: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
}
.s_img {
  position: fixed;
  margin: 0;
  height: 100%;
  width: 100vw;
}

.sb {
  background: rgba(195, 240, 195, 0.5);
  border: 1px solid white;
  border-radius: 5px;
}

.sb img {
  margin-right: 5px;
}

.static_content {
  position: fixed;
  bottom: 2.5rem;
  margin-left: 1rem;
  color: white;
}

.title {
  font-size: 14px;
  color: rgb(226, 223, 223);
}

.description {
  width: 50%;
}

/* Home_button on Static Page */
.static_go_home {
  color: white;
  margin-left: 1rem;
  width: 7rem;
  text-align: center;
  padding-top: 0.7rem;
  position: fixed;
  box-sizing: border-box;
  height: 2.5rem;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}
/* asigning all a tag text design to none */
a {
  text-decoration: none;
}
.genre {
  color: rgb(34, 240, 175);
  margin-top: 10rem;
  margin-left: 2rem;
  font-size: 24px;
  background-color: rgba(95, 101, 98, 0.5);
  padding: 1px 5px;
  border-radius: 5px;
  position: absolute;
}
.title_ {
  font-size: 2rem;
}

.add {
  height: 2.5rem;
  width: 2.7rem;
  display: block;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2px 2px 4px;
  background-color: rgba(127, 240, 187, 0.5);
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.text {
  position: relative;
  top: 20rem;
  left: 19rem;
  font-size: 1.2rem;
  display: inline;
  background: rgba(202, 234, 202, 0.5);
  border: 1px solid white;
  border-radius: 5px;
  padding: 4px;
  color: rgb(59, 37, 49);
}
/* new */

.f_page {
  position: absolute;
  padding: 5px;
  border-radius: 10px;
  color: rgb(245, 67, 35);
  background-color: rgba(190, 221, 221, 0.5);
  right: 20%;
  font-size: 1.5rem;
  top: 9rem;
  display: none;
  cursor: pointer;
}
.f_home {
  display: inline;

  margin-left: 20px;

  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(177, 233, 233);
}
.f_container {
  margin-top: 1.5rem;
}
.show{
height: 3.2rem;
padding-left: 5px;
padding-right: 5px;
padding-bottom: 7px;
  box-sizing: border-box;
  border: 2px solid white;
  margin-right: 1rem;
  border-radius: 2rem;

}